<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABF092B81C2290A900B1538B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABF092D11C2290AA00B1538B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABF092DC1C2290AA00B1538B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
